@page "/History"
@using Microsoft.VisualBasic;
@using tutorialBlazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager



<h1>HistoryPage</h1>
<h3> in the page you will see the history of the  calculation</h3>

@if (histories == null)
{
    <p><h1>HISTORIES IS NULL!!!</h1></p>

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Value</th>
                <th>second Value</th>
                <th>Operation</th>
                <th>Result </th>
                <th>date and time </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var history in histories)
            {
                <tr>
                    <td>@history.Value1</td>
                    <td>@history.Value2</td>
                    <td>@history.Operation</td>
                    <td>@history.Result</td>
                    <td>@history.DateAndTime</td>
                    <button id="gasp" class="btn-danger" @onclick="() => Delete(history.Id)">delete </button>
                    <button class="btn-outline-primary" @onclick="() => EditHistory(history.Id)"> edit  </button>

                </tr>
            }
        </tbody>
    </table>

}



 <style> 
     /* Define a class for the cute delete button */
#gasp {
    color: black; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* Hover effect */
#gasp:hover {
    background-color: red; /* Slightly darker red on hover */
}
</style> 

@code {
    private History[]? histories;

    protected override async Task OnInitializedAsync()
    {
        histories = await Http.GetFromJsonAsync<History[]>("api/History");
    }
    public async Task Delete(Guid id)
    {
        var response = await Http.DeleteAsync($"api/History/{id}");

        if (response.IsSuccessStatusCode)
        {
            // History item was successfully deleted, update the list
            histories = await Http.GetFromJsonAsync<History[]>("api/History");
        }
        else
        {
            // Handle the case where deletion was not successful
            // You can show an error message or take appropriate action
        }
    }

    private void EditHistory(Guid historyId)
    {
        NavigationManager.NavigateTo($"/edit");
    }


    
}
