@page
@model not_working.Pages.TryModel
@{
    <table id="tabu">
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>Indirizzo</th>
                <th>Città</th>
                <th>Provincia</th>
                <th>Cap</th>
                <th>Recapito tel</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lista) // this was  the issues
            {
                <tr>
                    <td><label>@item.Descrizione</label></td>
                    <td><label>@item.Indirizzo</label></td>
                    <td><label>@item.Città</label></td>
                    <td><label>@item.Provincia</label></td>
                    <td><label>@item.Cap</label></td>
                    <td><label>@item.RecapitoTel</label></td>
                    <td><label>@item.Email</label></td>

                </tr>
            }
        </tbody>
    </table>

    <hr />
    <hr />
}
